<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>FrontEnd</title>
        <meta name="description" content="Ela Admin - HTML5 Admin Template" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
        <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png" />
        <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png" />
    
        <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css"
        />
        <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        />
        <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
        />
        <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css"
        />
        <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css"
        />
        <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css"
        />
    
    
        <link href="/css/admin/Duc/cs-skin-elastic.css" rel="stylesheet"/>
        <link href="/css/admin/Duc/style.css" rel="stylesheet"/>
        <link href="/css/admin/Duc/ui_users.css" rel="stylesheet"/>
        <link href="/css/admin/Duc/login/bootstrap.css" rel="stylesheet"/>
        <!--    <link th:href="@{/assets/css/ui_users.css}" rel="stylesheet"/>-->
        <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    
    
        <link
                href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css"
                rel="stylesheet"
        />
        <link
                href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css"
                rel="stylesheet"
        />
    
        <link
                href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css"
                rel="stylesheet"
        />
        <link
                href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css"
                rel="stylesheet"
        />
    
        <link
                href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
                rel="stylesheet"
        />
        <link
                href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"
                rel="stylesheet"
        />
        <style>
            #weatherWidget .currentDesc {
                color: #ffffff !important;
            }
            .traffic-chart {
                min-height: 335px;
            }
            #flotPie1 {
                height: 150px;
            }
            #flotPie1 td {
                padding: 3px;
            }
            #flotPie1 table {
                top: 20px !important;
                right: -10px !important;
            }
            .chart-container {
                display: table;
                min-width: 270px;
                text-align: left;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            #flotLine5 {
                height: 105px;
            }
    
            #flotBarChart {
                height: 150px;
            }
            #cellPaiChart {
                height: 160px;
            }
    
            .bars-icon {
                position: absolute;
                top: 18px;
            }
    
    
            #saveButton {
                display: none; /* Ẩn liên kết mặc định */
            }
    
        </style>
    
        <script
                src="https://kit.fontawesome.com/8f73a47761.js"
                crossorigin="anonymous"
        ></script>
    
    
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    
    <!--    time picker-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    
    <!--    parse time-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
        <script src="/js/admin/main.js"></script>
    </head>
<body>
    <div>
        <aside id="left-panel" class="left-panel" th:fragment="side_bar">
            <nav class="navbar navbar-expand-sm navbar-default">
                <div id="main-menu" class="main-menu collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Navigation__Home -->
                        <li>
                            <a href="/admin/account"
                            ><i class="fa-solid fa-file-invoice" style="margin-right: 5px;"></i>Tài khoản
                            </a>
                        </li>
                        <li>
                            <a href="/admin/user"
                            ><i class="fa-solid fa-user" style="margin-right: 5px;"></i>Khách hàng
                            </a>
                        </li>
                        <li class="active">
                            <a href="/admin/order"
                            ><i class="fa-solid fa-receipt" style="margin-right: 5px;"></i>Đơn hàng
                            </a>
                        </li>
                        <li>
                            <a href="/admin/staff"
                            ><i class="fa-solid fa-user-tie" style="margin-right: 5px;"></i>Nhân viên
                            </a>
                        </li>
                        <li>
                            <a href="/admin/product"
                            ><i class="fa-brands fa-product-hunt" style="margin-right: 5px;"></i>Sản phẩm
                            </a>
                        </li>
                        <li>
                            <a href="/admin/productDetail"
                            ><i class="fa-solid fa-circle-info" style="margin-right: 5px;"></i>Chi tiết sản phẩm
                            </a>
                        </li>
                        <li>
                            <a href="/admin/category"
                            ><i class="fa-solid fa-list" style="margin-right: 5px;"></i>Danh mục
                            </a>
                        </li>
                        <li>
                            <a href="/admin/flavor"
                            ><i class="fa-regular fa-star" style="margin-right: 5px;"></i>Hương vị
                            </a>
                        </li>
                        <li>
                            <a href="/admin/contact"
                            ><i class="fa-solid fa-comment" style="margin-right: 5px;"></i>Phản hồi
                            </a>
                        </li>
        
                      
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </aside>
    </div>
    <div id="right-panel" class="right-panel">
        <div>
            <header id="header" class="header" th:fragment="header">
                <div class="top-left">
                    <div class="navbar-header">
                        <a id="menuToggle" class="menutoggle"
                        ><i class="bars-icon fa fa-bars"></i
                        ></a>
                    </div>
                </div>
                <div class="top-right">
                    <div class="header-menu">
            
                        <div class="user-area dropdown float-right">
                            <a
                                    href="#"
                                    class="dropdown-toggle active"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    style="display: inline; position: unset"
                            >
                                <img
                                        style="margin-top: 10px;margin-left: 10px;"
                                        class="user-avatar rounded-circle"
                                        src="/image/default_avatar.jpg"
                                        alt="User Avatar"
                                />
            
                            </a>
                            <% if (session.user && typeof session.user.name !== null ) { %>
                                <span style="display: inline; color: white">Hello <%= session.user.name %></span>
                            <% } %>
                            <div class="user-menu dropdown-menu">
            
                                <a class="nav-link" href="/admin/logout"
                                ><i class="fa fa-power -off"></i>Logout</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <h2>Danh sách đơn hàng</h2>
                <div class="col-md-12 form-group">
                    <% if (typeof message !== 'undefined' && message) { %>
                      <div id="errorMessage" class="alert alert-success" role="alert">
                        <%= message %>
                      </div>
                      <% } %>
                        <% if (typeof errorMessage !== 'undefined' &&  errorMessage) { %>
                          <div id="errorMessage1" class="alert alert-danger" role="alert">
                            <%= errorMessage %>
                          </div>
                          <% } %>
                  </div>
                <div class="search-box">
                    <div class="search">
                        <button class="my-button showAddFormButton" id="showAddFormButton"><i class="fas fa-plus add"></i>Add Training Program</button>
                    </div>
                </div>
    
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                    <tr>
                        <th class="custom-column">Mã đơn hàng</th>
                        <th class="custom-column">Tên khách hàng</th>
                        <th class="custom-column">Ngày đặt hàng</th>
                        <th class="custom-column">Số điện thoại</th>
                        <th class="custom-column">Email</th>
                        <th class="custom-column">Địa chỉ</th>
                        <th class="custom-column">Tổng</th>
                        <th class="custom-column">Status</th>
                        <th class="custom-column">Thanh toán</th>
                        <th class="custom-column">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% if (typeof orders !== 'undefined' && orders.length > 0) { %>
                            <% orders.forEach(function(order) { %>
                            <tr class="spandd">
                                <td>
                                    <% if (order.orderId !== null && order.orderId) { %>
                                        <%= order.orderId %>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (order.User && order.User.name !== null) { %>
                                        <%= order.User.name %>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (order.orderDate !== null && order.orderDate) { %>
                                        <%= order.orderDate %>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (order.phoneNumber !== null && order.phoneNumber) { %>
                                        <%= order.phoneNumber %>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (order.email !== null && order.email) { %>
                                        <%= order.email %>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (order.address !== null && order.address) { %>
                                        <%= order.address %>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (order.total !== null && order.total) { %>
                                        <%= order.total %>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (order.status === 1) { %>
                                        <p style="margin-top: 8px; color: black; border: solid;" >Pending</p>
                                    <% } else if (order.status === 2) { %>
                                        <p style="margin-top: 8px; color: rgb(241, 7, 7); border: solid;">Cancel</p>
                                    <% } else if (order.status === 3) { %>
                                        <p style="margin-top: 8px; color: rgb(241, 113, 7); border: solid;">Delivery</p>
                                    <% } else if (order.status === 4) { %>
                                        <p style="margin-top: 8px; color: rgb(3, 181, 48); border: solid;">Received</p>
                                    <% } else if (order.status === 5) { %>
                                        <p style="margin-top: 8px; color: rgb(8, 32, 193); border: solid;">Exchange</p>
                                    <% } else if (order.status === 6) { %>
                                        <p style="margin-top: 8px; color: rgb(8, 125, 148); border: solid;">Processed</p>
                                    <% } else { %>
                                        Unknown Role
                                    <% } %>
                                </td>
                                <td>
                                    <% if (order.paymentMethod === 1) { %>
                                        <p style="margin-top: 8px; color: black; " >COD - Pending</p>
                                    <% } else if (order.paymentMethod === 2) { %>
                                        <p style="margin-top: 8px; color: rgb(6, 232, 29); " >COD</p>
                                    <% } else if (order.paymentMethod === 3) { %>
                                        <p style="margin-top: 8px; color: black; " >Vnpay - Pending</p>
                                    <% } else if (order.paymentMethod === 4) { %>
                                        <p style="margin-top: 8px; color: rgb(6, 232, 29); " >Vnpay</p>
                                    <% } %>
                                </td>
                                <td>
                                    <a style="cursor: pointer;" class="edit open-edit-form" data-toggle="modal" style="margin-right: 5px;">
                                        <i class="fa-solid fa-pencil" style="color: #ff7100;"></i>
                                    </a>
                                </td>
                            </tr>
                        <% }); %>
                        <% }else { %>
                            <!-- <tr>
                                <td colspan="10" class="text-center"><p>No data</p></td>
                            </tr> -->
                        <% } %>
                    </tbody>
                </table>
                
                <div class="overlay" id="formEdit">
                    <div class="container" style=" max-width: 550px; min-width: 550px;">
                        <div class="form">
                            <form action="/admin/order" method="post" >
                                <table>
                                    <tr>
                                        <th style="background-color: #0f65c1;" colspan="4">Edit Order</th>
                                    </tr>
                                    <tr>
                                        <td style="width: 60px">Status</td>
                                        <td>
                                            <label>
                                                <input type="radio" name="status" value="Pending"> Pending
                                            </label>
                                            <label>
                                                <input type="radio" name="status" value="Cancel"> Cancel
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input type="radio" name="status" value="Delivery"> Delivery
                                            </label>
                                            <label>
                                                <input type="radio" name="status" value="Received"> Received
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input type="radio" name="status" value="Exchange"> Exchange
                                            </label>
                                            <label>
                                                <input type="radio" name="status" value="Processed"> Processed
                                            </label>
                                        </td>
                                    </tr>
                                    <tr style="display: none">
                                        <td>Id</td>
                                        <td>Id</td>
                                        <td>Id</td>
                                        <td>Id</td>
                                        <td><input type="text" name="orderId" placeholder="id" value=""></td>
                                    </tr>
                                </table>
                                <div class="bk_save_user" style="margin-bottom: 5px;">
                                    <button type="submit" class="button-save-user" style="background-color: #0f65c1">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="overlay" id="formCreate">
                    <div class="container">
                        <div class="form">
                            <form action="/admin/create/category" method="post" >
                                <table>
                                    <tr>
                                        <th style="background-color: #0f65c1;" colspan="3">Create category</th>
                                    </tr>
                                    <tr>
                                        <td>Tên danh mục</td>
                                        <td colspan="2"><input type="text" name="categoryName" placeholder="Tên danh mục" required></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 110px">Status</td>
                                        <td>
                                            <label>
                                                <input type="radio" name="status" value="active" checked> Active
                                            </label>
                                            <label>
                                                <input type="radio" name="status" value="inactive"> Inactive
                                            </label>
                                        </td>
                                    </tr>
                                    <tr style="display: none">
                                        <td>Id</td>
                                        <td><input type="text" name="categoryId" placeholder="id" value=""></td>
                                    </tr>
                                </table>
                                <div class="bk_save_user" style="margin-bottom: 5px;">
                                    <button type="submit" class="button-save-user" style="background-color: #0f65c1">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
    
            </div>
            <!--End: Content-->
            <div class="clearfix"></div>
    
            <br>
            <br>
            <br>
    
        </div>
        <div>
            <footer class="site-footer" th:fragment="footer">
                <div class="footer-inner bg-2D3748">
                    <div class="rw">
                        <div class="col-sm-6 text-left">
                            Copyright &copy; 2018 Ela Admin. Edited and Developed by Ground-3
                        </div>
                        <div class="col-sm-6 text-right">
                            Designed by <a href="https://colorlib.com">Colorlib</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- Scripts -->
<script>
    new DataTable('#example', {
        "order": []
    });
</script>
<script>
    $(document).ready(function () {
        $(document).on('click', '.open-edit-form', function () {
            var row = $(this).closest('tr');
            var status = row.find('td:eq(7)').text().trim();
            const formEdit = document.getElementById('formEdit');
            const statusRadioPending = formEdit.querySelector('input[value="Pending"]');
            const statusRadioCancel = formEdit.querySelector('input[value="Cancel"]');
            const statusRadioDelivery = formEdit.querySelector('input[value="Delivery"]');
            const statusRadioReceived = formEdit.querySelector('input[value="Received"]');
            const statusRadioExchange = formEdit.querySelector('input[value="Exchange"]');
            const statusRadioProcessed = formEdit.querySelector('input[value="Processed"]');
            const orderIdInput = formEdit.querySelector('input[name="orderId"]');
            orderIdInput.value = row.find('td:eq(0)').text().trim();
            if (status ===  'Pending'){
                statusRadioPending.checked = true;
            } else if (status === 'Cancel'){
                statusRadioCancel.checked = true;
            } else if (status === 'Delivery'){
                statusRadioDelivery.checked = true;
            } else if (status === 'Received'){
                statusRadioReceived.checked = true;
            } else if (status === 'Exchange'){
                statusRadioExchange.checked = true;
            }else {
                statusRadioCancel.checked = true;
            }
            formEdit.style.display = 'flex';

        });

        $(document).on('click', '.showAddFormButton', function () {
            
            const formCreate = document.getElementById('formCreate');
            
            formCreate.style.display = 'flex';

        });


        $(document).on('click', function (e) {
            const formEdit = document.getElementById('formEdit');
            formEdit.addEventListener('click', function (e) {
                if (e.target === formEdit) {
                    formEdit.style.display = 'none'; // Ẩn overlay nếu bấm ra ngoài
                }
            });
            const formCreate = document.getElementById('formCreate');
            formCreate.addEventListener('click', function (e) {
                if (e.target === formCreate) {
                    formCreate.style.display = 'none'; // Ẩn overlay nếu bấm ra ngoài
                }
            });
        });



    });
</script>
</body>
</html>