<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet"> -->

    <!-- Libraries Stylesheet -->

    
    <!-- Customized Bootstrap Stylesheet -->
    <link href="/public/css/style.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/public/css/boot1/owl.carousel.min.css">

    <link href="/public/css/form.css" rel="stylesheet">
    <script
                src="https://kit.fontawesome.com/8f73a47761.js"
                crossorigin="anonymous"
        ></script>
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="/" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span
                            class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="/category" method="get">
                    <div class="input-group">
                        <input type="text" name = "searchName"class="form-control" placeholder="Search for products" >
                        <div class="input-group-append">
                            <button type="submit" class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="/cart" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100"
                    th:href="@{'#navbar-vertical'}" data-toggle="collapse"
                    style="height: 65px; margin-top: -1px; padding: 0 30px;" id="toggle-categories">
                    <h6 class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="position-absolute bg-light collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
                    id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                    <div style="height: 250px" class="w-100">
                        <div class="navbar-nav w-100 overflow-hidden">
                            <% categories.forEach(function(category, item) { %>
                                <a class="nav-item nav-link" href="/category/<%= category.id %>""><%= category.categoryName %></a>
                                    <% }); %>
                        </div>
                        <div class=" navbar-nav w-100 overflow-hidden">
                                    <a class="nav-item nav-link" href="/category/all">Read more...</a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span
                                class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/" class="nav-item nav-link ">Home</a>
                            <a href="/category/all" class="nav-item nav-link active">Shop</a>
                            <a href="/contact" class="nav-item nav-link">Contact</a>
                            <% if (session && session.user) { %>
                                <a href="/user/profile" class="nav-item nav-link">Account</a>
                                <% } %>
                        </div>
                        <div class="navbar-nav ml-auto py-0">
                            <% if (session && session.user) { %>
                                <a href="/logout" class="nav-item nav-link">Log out</a>
                                <% } %>
                                    <% if (!(session && session.user)) { %>
                                        <a href="/login" class="nav-item nav-link">Login</a>
                                        <% } %>
                                            <% if (!(session && session.user)) { %>
                                                <a href="/register" class="nav-item nav-link">Register</a>
                                                <% } %>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Shop Detail</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shop Detail</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">
                        <div class="carousel-item active justify-content-center d-flex align-items-center">
                            <img class="w-100-detail h-100-detail" src="<%= product.image %>" alt="Image">
                        </div>
                        <!-- Add additional carousel items here -->
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <!-- <i class="fa fa-2x fa-angle-left text-dark"></i> -->
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <!-- <i class="fa fa-2x fa-angle-right text-dark"></i> -->
                    </a>
                </div>
            </div>

            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">
                    <%= product.productName %>
                </h3>
                <div class="d-flex mb-3">
                    <div class="text-primary mr-2">
                        <small class="far fa-star fa-star-sum"></small>
                        <small class="far fa-star fa-star-sum"></small>
                        <small class="far fa-star fa-star-sum"></small>
                        <small class="far fa-star fa-star-sum"></small>
                        <small class="far fa-star fa-star-sum"></small>
                    </div>
                    <input type="hidden" name="numberOfStartSum" id="numberOfStartSum" value="<%= averageNumberOfStars  %>" />
                    <small class="pt-1">
                        <%= '(' + numberOfFeedback + ' Reviews)' %>
                    </small>
                </div>
                <div class="d-flex">
                    <h3 class="priceBeforeDiscount" data-product-id="<%= product.productId %>"></h3>
                    <h3 class="text-muted ml-2">
                        <del class="priceAfterDiscount" data-product-id="<%= product.productId %>"></del>
                    </h3>
                </div>
                <div class="d-flex">
                    <h5 id= "discountRange" data-product-id="<%= product.productId %>"></h5>
                </div>

                <div class="d-flex align-items-center mb-4 pt-2">
                    <form class="d-flex">
                        <div class="input-group quantity mr-3" style="width: 130px;">
                            <div class="input-group-btn" id="quantityButtonPlus" onclick="decreaseQuantity()">
                                <div class="btn btn-primary btn-minus">
                                    <i class="fa fa-minus"></i>
                                </div>
                            </div>
                            <input type="text" id="quantityInput2"
                                class="form-control bg-secondary text-center" value="<%= quantityDefault %>">
                            <div class="input-group-btn" id="quantityButtonMinus" onclick="increaseQuantity()">
                                <div class="btn btn-primary btn-plus">
                                    <i class="fa fa-plus"></i>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="productId" value="<%= product.id %>" />
                        <a class="btn btn-primary px-3 showImportButton" data-product-id="<%= product.productId %>" data-productDetail-list="<%= JSON.stringify(product.ProductDetails) %>"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</a>
                    </form>
                </div>

                <!-- <div class="d-flex pt-2">
                    <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                    <div class="d-inline-flex">
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Description</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">
                        Review (<%= numberOfFeedback %>)
                    </a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">Product Description</h4>
                        <p><%=product.description %></p>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-3">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="mb-4" style="text-align: center;">
                                    <%= numberOfFeedback + ' review(s) ' %>
                                </h4>
                                <% feedbackList.forEach(function(feedback) { %>
                                    <div class="media-feedback mb-4">
                                        <div class="media-body-feedback">
                                            <h6>
                                                <%= feedback.User.name %> <small> - <i>
                                                            <%= feedback.date %>
                                                        </i></small>
                                            </h6>
                                            <div class="text-primary mb-2" id="<%= 'ratingStars-' + feedback.id %>">
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <input type="hidden" id="<%= feedback.stars %>"
                                                    value="<%= feedback.stars %>" name="numberOfStars">
                                            </div>
                                            <p>
                                                <%= feedback.content %> 
                                            </p> 
                                            <% if (session.user && feedback.User.userId == session.user.userId ) { %>
                                                <div>
                                                    <a class="editFeedback"><i class="fa-solid fa-pencil" style="color: #ff7100; cursor: pointer;" ></i></a>
                                                    <a href="/product/<%= product.productId %>/feedback/<%= feedback.feedbackId %>"><i class="fa-solid fa-trash" style="color: red;"></i></a>
                                                </div>
                                                <form id="feedbackEditForm" style="display: none;" action="/product/<%= product.productId %>/editFeedback/<%= feedback.feedbackId %>" method="post">
                                                    <!-- Other form inputs... -->
                                                    <p class="mb-0 mr-2">Your Rating * :</p>
                                                    <div class="text-primary">
                                                        <i class="far fa-star fa-star-comment" onclick="setRating2(1)"></i>
                                                        <i class="far fa-star fa-star-comment" onclick="setRating2(2)"></i>
                                                        <i class="far fa-star fa-star-comment" onclick="setRating2(3)"></i>
                                                        <i class="far fa-star fa-star-comment" onclick="setRating2(4)"></i>
                                                        <i class="far fa-star fa-star-comment" onclick="setRating2(5)"></i>
                                                    </div>
                                                    <input type="hidden" name="numberOfStars" id="numberOfStarsInput2" required>
                                                    <textarea name="content" value="<%= feedback.content%>" cols="30" rows="5"
                                                    class="form-control" required><%= feedback.content%></textarea>
                                                    <div>
                                                        <button class="btn btn-primary px-3" style="margin-top: 15px; margin-bottom: 15px;" type="submit">Submit</button>
                                                        <a class="btn btn-primary px-3" class="cancelEditFeedbackForm">Cancel</a>
                                                    </div>
                                                </form>
                                            <% } %>
                                            <hr>
                                        </div>
                                    </div>
                                    <% }); %>
                            </div>
                            <div class="col-md-6">
                                <h4 class="mb-4">Leave a review</h4>
                                <% if (session.user !=null) { %>
                                    <small>Your email address will not be published. Required fields are marked
                                        *</small>
                                    <div class="d-flex my-3">
                                        <p class="mb-0 mr-2">Your Rating * :</p>
                                        <div class="text-primary">
                                            <i class="far fa-star fa-star-comment" onclick="setRating(1)"></i>
                                            <i class="far fa-star fa-star-comment" onclick="setRating(2)"></i>
                                            <i class="far fa-star fa-star-comment" onclick="setRating(3)"></i>
                                            <i class="far fa-star fa-star-comment" onclick="setRating(4)"></i>
                                            <i class="far fa-star fa-star-comment" onclick="setRating(5)"></i>
                                        </div>
                                    </div>
                                    <form action="/product/<%= product.productId %>/feedback" method="POST">
                                        <div id="errorMessage" <% if (typeof errorMessage !=='undefined' &&
                                            errorMessage) { %> class="alert alert-danger" <% } %> role="alert">
                                                <% if (typeof errorMessage !=='undefined' && errorMessage) { %>
                                                    <%= errorMessage %>
                                                        <% } %>
                                        </div>
                                        <div class="form-group">
                                            <label for="message">Your Review *</label>
                                            <textarea name="content" id="message" cols="30" rows="5"
                                                class="form-control" required></textarea>
                                        </div>
                                        <div class="form-group mb-0">
                                            <input type="hidden" id="numberOfStarsInput" name="numberOfStars"
                                                value="5">
                                            <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                                            <input type="hidden" name="currentDay" id="currentDay" value="">
                                        </div>
                                    </form>
                                    <% } else { %>
                                        <a href="/login" style="border: 1px solid;" class="text-center">Please login to comment!</a>
                                        <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->


    <!-- Products Start -->
    <div class="container-fluid py-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">You May Also Like</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel related-carousel" style="display: flex;">
                    <% products.forEach(function(product) { %>
                        <div class="card product-item border-0">
                            <form action="/cart/add" method="POST">
                                <div
                                    class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                    <img class="img-fluid w-100" src="<%= product.image %>" alt="">
                                </div>
                                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                    <h6 class="text-truncate mb-3">
                                        <%= product.productName %>
                                    </h6>
                                    <div class="d-flex justify-content-center">
                                        <h10 class="text-truncate priceAfterDiscount2" style="margin-bottom: 2px; font-size: 15px;" data-product-id="<%= product.productId %>"></h10>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <h6 class="discountProduct" data-product-id="<%= product.productId %>"> Giảm giá: 
                                        </h6>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between bg-light border">
                                    <a href="/product/<%= product.productId %>" class="btn btn-sm text-dark p-0"><i
                                            class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                    <a class="btn btn-sm text-dark p-0 showImportButton" data-product-id="<%= product.productId %>" data-productDetail-list="<%= JSON.stringify(product.ProductDetails) %>"><i
                                            class="fas fa-shopping-cart text-primary mr-1"></i>Add to cart</a>
                                </div>
                                <input type="hidden" name="productId" value="<%= product.id %>">
                                <input type="hidden" name="quantity" value="1">
                            </form>
                        </div>
                        <% }); %>
                </div>
            </div>
        </div>
    </div>
    <!-- Products End -->



    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <h1 class="mb-4 display-5 font-weight-semi-bold"><span
                            class="text-primary font-weight-bold border border-white px-3 mr-1">E</span>Shopper</h1>
                </a>
                <p>Dolore erat dolor sit lorem vero amet. Sed sit lorem magna, ipsum no sit erat lorem et magna ipsum
                    dolore amet erat.</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our
                                Shop</a>
                            <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop
                                Detail</a>
                            <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping
                                Cart</a>
                            <a class="text-dark mb-2" href="checkout.html"><i
                                    class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact
                                Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our
                                Shop</a>
                            <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop
                                Detail</a>
                            <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping
                                Cart</a>
                            <a class="text-dark mb-2" href="checkout.html"><i
                                    class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact
                                Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control border-0 py-4" placeholder="Your Name"
                                    required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                                    required="required" />
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe
                                    Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <div class="overlay_flex_hidden" id="formEdit">
        <div class="container_flex_hidden">
            <div class="form_flex_hidden">
                <form action="/cart/add" method="post" >
                    <table>
                        <tr style="display: none">
                            <td><input type="hidden" value="" name="productId" id="productId"></td>
                        </tr>
                        <tr style="display: none">
                            <td><input type="hidden" id="quantityInput" name="quantity"
                                value="<%= quantityDefault %>"></td>
                        </tr>
                        <tr>
                            <th style="background-color: #0f65c1;" colspan="3">Chọn loại sản phẩm</th>
                        </tr>
                                                <!-- Dynamic select for product details -->
                        <tr>
                            <td>Product Detail</td>
                            <td>
                                <select id="productDetailSelect" name="productDetailId">
                                <!-- Options will be added dynamically -->
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div class="bk_save_user_flex_hidden" style="margin-bottom: 5px;">
                        <button type="submit" class="button-save-user_flex_hidden" style="background-color: #0f65c1">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- <script>
        function increaseQuantity() {
            var quantityInput = document.getElementById('quantityInput');
            var quantity = parseInt(quantityInput.value);
            quantity = quantity + 1;
            document.getElementById('quantityInput').setProperty('value') = quantity;
        }
    </script>
    <script>
        function decreaseQuantity() {
            var quantityInput = document.getElementById('quantityInput');
            var quantity = parseInt(quantityInput.value);
            if (quantity == 1) {
                quantity = 1;
            } else {
                quantity = quantity - 1;
            }
            document.getElementById('quantityInput').setProperty('value') = quantity;
        }
    </script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        var feedbackList = document.querySelectorAll('.media-body-feedback');
        feedbackList.forEach(function (feedback) {
            var ratingElement = feedback.querySelector('.text-primary.mb-2');
            var rating = parseInt(feedback.querySelector('input[name="numberOfStars"]').value);
            var stars = ratingElement.getElementsByTagName('i');

            // Xóa lớp 'far' (sao trống) và thêm lớp 'fas' (sao đầy) cho số sao tương ứng
            for (var i = 0; i < rating; i++) {
                stars[i].classList.remove('far');
                stars[i].classList.add('fas');
            }
        });
    </script>
    <script>
        function increaseQuantity() {
            var quantityInput = document.getElementById('quantityInput');
            var quantity = parseInt(quantityInput.value);
            quantity = quantity + 1;
            quantityInput.value = quantity;
            var quantityInput2 = document.getElementById('quantityInput2');
            quantityInput2.value = quantity;
        }

        function decreaseQuantity() {
            var quantityInput = document.getElementById('quantityInput');
            var quantity = parseInt(quantityInput.value);
            if (quantity == 1) {
                quantity = 1;
            } else {
                quantity = quantity - 1;
            }
            quantityInput.value = quantity;
            var quantityInput2 = document.getElementById('quantityInput2');
            quantityInput2.value = quantity;
        }   

        function setRating(rating) {
            var stars = document.getElementsByClassName('fa-star-comment');
            var input = document.getElementById('numberOfStarsInput');

            // Xóa lớp 'fas' (sao đầy) và thêm lớp 'far' (sao trống) cho tất cả các sao
            for (var i = 0; i < stars.length; i++) {
                stars[i].classList.remove('fas');
                stars[i].classList.add('far');
            }

            // Thêm lớp 'fas' (sao đầy) cho số sao đã được chọn
            for (var j = 0; j < rating; j++) {
                stars[j].classList.remove('far');
                stars[j].classList.add('fas');
            }

            // Đặt giá trị cho phần tử input
            console.log(rating);
            input.value = rating;
            var quantityInput = document.getElementById('quantityInput');
            quantityInput.value
        }
        function setRating2(rating) {
            var stars = document.getElementsByClassName('fa-star-comment');
            var input = document.getElementById('numberOfStarsInput2');

            // Xóa lớp 'fas' (sao đầy) và thêm lớp 'far' (sao trống) cho tất cả các sao
            for (var i = 0; i < stars.length; i++) {
                stars[i].classList.remove('fas');
                stars[i].classList.add('far');
            }

            // Thêm lớp 'fas' (sao đầy) cho số sao đã được chọn
            for (var j = 0; j < rating; j++) {
                stars[j].classList.remove('far');
                stars[j].classList.add('fas');
            }

            // Đặt giá trị cho phần tử input
            console.log(rating);
            input.value = rating;
            var quantityInput = document.getElementById('quantityInput');
            quantityInput.value
        }
    </script>

    <script>
        // JavaScript code to set the value of the hidden input to the current day
        const currentDayInput = document.getElementById('currentDay');
        const currentDate = new Date();
        const formattedDate = currentDate.toISOString().slice(0, 10);
        currentDayInput.value = formattedDate;
    </script>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

     <script>
        $(document).ready(function () {
            var stars = document.getElementsByClassName('fa-star-sum');
            var input = document.getElementById('numberOfStartSum');
            // Xóa lớp 'fas' (sao đầy) và thêm lớp 'far' (sao trống) cho tất cả các sao
            for (var i = 0; i < stars.length; i++) {
                stars[i].classList.remove('fas');
                stars[i].classList.add('far');
            }

            // Thêm lớp 'fas' (sao đầy) cho số sao đã được chọn
            for (var j = 0; j < input.value; j++) {
                stars[j].classList.remove('far');
                stars[j].classList.add('fas');
            }
            $('.discountProduct').each(function () {
                const productId = $(this).data('product-id');
                const productDetails = $(`.showImportButton[data-product-id="${productId}"]`).data('productdetail-list');
                const productDetailArray = Array.isArray(productDetails) ? productDetails : JSON.parse(productDetails);
                const maxDiscount = Math.max(...productDetailArray.map(detail => detail.discount));
                const minDiscount = Math.min(...productDetailArray.map(detail => detail.discount));
                // Update the content of the current h6.discountProduct
                if (maxDiscount > 0) {
                    $(this).text(`Giảm giá: ${minDiscount}% - ${maxDiscount}%`);
                } else {
                    $(this).text(`Không giảm giá!`);
                    $(this).css('visibility', 'hidden');
                    
                }
            });
            $('.priceAfterDiscount').each(function () {
                const productId = $(this).data('product-id');
                const productDetails = $(`.showImportButton[data-product-id="${productId}"]`).data('productdetail-list');
                const productDetailArray = Array.isArray(productDetails) ? productDetails : JSON.parse(productDetails);
                const maxPrice = Math.max(...productDetailArray.map(detail => detail.price));
                const minPrice = Math.min(...productDetailArray.map(detail => detail.price));
                // Update the content of the current h6.discountProduct
                const maxDiscount = Math.max(...productDetailArray.map(detail => detail.discount));
                if (maxDiscount > 0){
                    $(this).text(`${minPrice}đ - ${maxPrice}đ`);
                }
                
            });
            $('.priceBeforeDiscount').each(function () {
                const productId = $(this).data('product-id');
                const productDetails = $(`.showImportButton[data-product-id="${productId}"]`).data('productdetail-list');
                const productDetailArray = Array.isArray(productDetails) ? productDetails : JSON.parse(productDetails);
                const maxDetail = productDetailArray.reduce((max, currentDetail) => {
                    return currentDetail.price > max.price ? currentDetail : max;
                }, productDetailArray[0]);

                const maxPrice = maxDetail.price;
                const correspondingDiscount = maxDetail.discount;
                
                const minDetail = productDetailArray.reduce((min, currentDetail) => {
                    return currentDetail.price < min.price ? currentDetail : min;
                }, productDetailArray[0]);

                const minPrice = minDetail.price;
                const correspondingDiscountMin = minDetail.discount;

                const minDiscount = Math.min(...productDetailArray.map(detail => detail.discount));
                const maxDiscount = Math.max(...productDetailArray.map(detail => detail.discount));
                if (maxDiscount > 0){
                    
                }
                $(this).text(`${minPrice - minPrice*correspondingDiscountMin/100}đ - ${maxPrice - maxPrice*correspondingDiscount/100}đ`);
                // Update the content of the current h6.discountProduct
                if (correspondingDiscountMin > 0 ){
                    $('#discountRange').text(`Giảm giá: ${minDiscount}% - ${maxDiscount}%`);
                }
                
            });
            $(document).on('click', '.showImportButton', function () {
                const formImport = document.getElementById('formEdit');
                const productId = $(this).data('product-id');
                document.getElementById('productId').value = productId;
                const productDetailList = $(this).data('productdetail-list');
                const productDetailArray = Array.isArray(productDetailList) ?
                    productDetailList :
                    JSON.parse(productDetailList);

                // // Calculate the maximum discount for the current product
                // const maxDiscount = Math.max(...productDetailArray.map(detail => detail.discount));
                // $(this).closest('.card-body').find('h6.discountProduct').text("Giảm giá lên đến " + maxDiscount + "%");
                // // Set the content of the h6 tag for the current product
                // // $('.discountProduct' + productId).text("Giảm giá lên đến " + maxDiscount + "%");

                // Clear existing options in the select
                $('#productDetailSelect').empty();

                // Add options to the select
                productDetailArray.forEach(function (productDetail) {
                    if (productDetail.stock > 0) {
                        let price = productDetail.price-productDetail.price*productDetail.discount/100;
                        

                        $('#productDetailSelect').append($('<option>', {
                            value: productDetail.productDetailId,
                            text: productDetail.weight + " gram với giá " + price + "đ; ( giảm giá:" + productDetail.discount + "%); tồn kho: " + productDetail.stock,
                        }));
                    }
                });

                formImport.style.display= 'flex';
            });
            $(document).on('click', '.editFeedback', function () {
                const feedbackEditForm = document.getElementById('feedbackEditForm');
                feedbackEditForm.style.display= 'flex';
            });  
            $(document).on('click', '.cancelEditFeedbackForm', function () {
                const feedbackEditForm = document.getElementById('feedbackEditForm');
                feedbackEditForm.style.display= 'none';
            });  
            $('.priceAfterDiscount2').each(function () {
                const productId = $(this).data('product-id');
                const productDetails = $(`.showImportButton[data-product-id="${productId}"]`).data('productdetail-list');
                const productDetailArray = Array.isArray(productDetails) ? productDetails : JSON.parse(productDetails);
                const maxPrice = Math.max(...productDetailArray.map(detail => detail.price));
                const minPrice = Math.min(...productDetailArray.map(detail => detail.price));
                // Update the content of the current h6.discountProduct
                const maxDiscount = Math.max(...productDetailArray.map(detail => detail.discount));
                $(this).text(`${minPrice}đ - ${maxPrice}đ`);
                
            });

            $(document).on('click', function (e) {
                const formImport = document.getElementById('formEdit');
                formImport.addEventListener('click', function (e) {
                    if (e.target === formImport) {
                        formImport.style.display = 'none'; // Ẩn overlay nếu bấm ra ngoài
                    }
                });
            })
        })
    </script>
</body>

</html>