<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/css/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/form.css" rel="stylesheet">
</head>

<body>

    <!-- <% if (typeof session !== 'undefined' && session && session.user) { %>
  <p><%= session.user.name%></p>
  <p><%= session.account.accountName %></p>
<% } %> -->

    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="/" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span
                            class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="/category" method="get">
                    <div class="input-group">
                        <input type="text" name = "searchName"class="form-control" placeholder="Search for products"  text="<%= searchName%>" value="<%= searchName%>">
                        <div class="input-group-append">
                            <button type="submit" class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="/cart" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100"
                    th:href="@{'#navbar-vertical'}" data-toggle="collapse"
                    style="height: 65px; margin-top: -1px; padding: 0 30px;" id="toggle-categories">
                    <h6 class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="position-absolute bg-light collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
                    id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                    <div style="height: 250px" class="w-100">
                        <div class="navbar-nav w-100 overflow-hidden">
                            <% categories.forEach(function(category, item) { %>
                                <a class="nav-item nav-link" href="/category/<%= category.id %>""><%= category.categoryName %></a>
                                    <% }); %>
                        </div>
                        <div class=" navbar-nav w-100 overflow-hidden">
                                    <a class="nav-item nav-link" href="/category/all">Read more...</a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span
                                class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/" class="nav-item nav-link ">Home</a>
                            <a href="/category/all" class="nav-item nav-link active">Shop</a>
                            <a href="/contact" class="nav-item nav-link">Contact</a>
                            <% if (session && session.user) { %>
                                <a href="/user/profile" class="nav-item nav-link">Account</a>
                                <% } %>
                        </div>
                        <div class="navbar-nav ml-auto py-0">
                            <% if (session && session.user) { %>
                                <a href="/logout" class="nav-item nav-link">Log out</a>
                                <% } %>
                                    <% if (!(session && session.user)) { %>
                                        <a href="/login" class="nav-item nav-link">Login</a>
                                        <% } %>
                                            <% if (!(session && session.user)) { %>
                                                <a href="/register" class="nav-item nav-link">Register</a>
                                                <% } %>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->



    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Our Shop</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shop</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Shop Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 justify-content-center">
            <!-- Shop Product Start -->
            
                    
                        <!-- Shop Sidebar Start -->
                        <div class="col-lg-3 col-md-12">
                            <form id="hiddenForm" action="/category/<%= currentIdAll === 'all' ? 'all' : category.id %>"
                                method="GET" style="display: none;">
                                <input type="hidden" name="lowPrice" value="<%= dataLowPrice %>" />
                                <input type="hidden" name="highPrice" value="<%= dataHighPrice %>" />
                                <input type="hidden" name="sortType" value="<%= sortType %>" />
                                <input type="hidden" name="flavorId" value="<%= flavorId %>" />
                                <input type="hidden" name="currentPage" value="<%= currentPage %>" />
                                <input type="hidden" name="searchName" value="<%= searchName %>" />
                            </form>
                            <!-- Price Start -->
                            <div class="border-bottom mb-4 pb-4">
                                <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
                                <form>
                                    <form>
                                        <div
                                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                            <input type="checkbox" class="custom-control-input" id="price-all" style="cursor: pointer;"
                                                value="0,10000000" onchange="submitHiddenFormFromSortType(this.value)" <%
                                                if (dataLowPrice===0 && dataHighPrice===10000000) { %>checked<% } %>>
                                                <label class="custom-control-label" for="price-all">All Price</label>
                                        </div>

                                        <div
                                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                            <input type="checkbox" class="custom-control-input" id="price-1" style="cursor: pointer;"
                                                value="0,200000" onchange="submitHiddenFormFromSortType(this.value)" <%
                                                if (dataLowPrice===0 && dataHighPrice===200000) { %>checked<% } %>>
                                                <label class="custom-control-label" for="price-1">0 - 200000đ</label>
                                        </div>

                                        <div
                                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                            <input type="checkbox" class="custom-control-input" id="price-2" style="cursor: pointer;"
                                                value="200000,400000" onchange="submitHiddenFormFromSortType(this.value)"
                                                <% if (dataLowPrice===200000 && dataHighPrice===400000) { %>checked<% }
                                                %>>
                                                <label class="custom-control-label" for="price-2">200000 -
                                                    400000đ</label>
                                        </div>

                                        <div
                                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                            <input type="checkbox" class="custom-control-input" id="price-3" style="cursor: pointer;"
                                                value="400000,600000"
                                                onchange="submitHiddenFormFromSortType(this.value)" <% if
                                                (dataLowPrice===400000 && dataHighPrice===600000) { %>checked<% } %>>
                                                <label class="custom-control-label" for="price-3">400000 -
                                                    600000đ</label>
                                        </div>

                                        <div
                                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                            <input type="checkbox" class="custom-control-input" id="price-4" style="cursor: pointer;"
                                                value="600000,800000"
                                                onchange="submitHiddenFormFromSortType(this.value)" <% if
                                                (dataLowPrice===600000 && dataHighPrice===800000) { %>checked<% } %>>
                                                <label class="custom-control-label" for="price-4">600000 -
                                                    800000đ</label>
                                        </div>

                                        <div
                                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                                            <input type="checkbox" class="custom-control-input" id="price-5" style="cursor: pointer;"
                                                value="800000,9999999"
                                                onchange="submitHiddenFormFromSortType(this.value)" <% if
                                                (dataLowPrice===800000 && dataHighPrice===9999999) { %>checked<% } %>>
                                                <label class="custom-control-label" for="price-5">Over 800000đ</label>
                                        </div>
                                    </form>

                            </div>
                            <!-- Price End -->

                            <!-- Color Start -->

                            <div class="border-bottom mb-4 pb-4">
                                <h5 class="font-weight-semi-bold mb-4">Filter by flavor</h5>
                                <form>
                                    <div
                                        class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                        <input type="checkbox" class="custom-control-input" id="0" value="0" style="cursor: pointer;"
                                            onchange="submitHiddenFormFromSortType(this.value)" <% if (dataFlavorId===0)
                                            { %>checked<% } %>>
                                            <label class="custom-control-label" for="0">All</label>
                                    </div>
                                    <% flavorList.forEach(function(flavor) { %>
                                        <div
                                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                            <input type="checkbox" class="custom-control-input" style="cursor: pointer;"
                                                id="<%= flavor.flavorId %>" value="<%= flavor.flavorId %>"
                                                onchange="submitHiddenFormFromSortType(this.value)" <% if
                                                (dataFlavorId===flavor.flavorId) { %>checked<% } %>>
                                                <label class="custom-control-label" for="<%= flavor.flavorId %>">
                                                    <%= flavor.flavorName %>
                                                </label>
                                        </div>
                                        <% }); %>
                                </form>
                            </div>


                            <!-- Color End -->
                        </div>
                        <% if (typeof products !=='undefined' && products.length===0) { %>
                            <div class="col-lg-9 col-md-12">
                                <h2 class="text-center">No matching products found!</h2>
                            </div>
                            <% } %>
                        <% if (typeof products !=='undefined' && products.length> 0) { %>
                        <!-- Shop Product Start -->
                        <div class="col-lg-9 col-md-12">
                            <div class="col-12 pb-1">
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="dropdown ml-4">
                                        <button class="btn border dropdown-toggle" type="button" id="triggerId"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Sort by
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                                            <a class="dropdown-item" id="best_selling" style="cursor: pointer;"
                                                onclick="submitHiddenFormFromSortType(this.id)">Top-selling product</a>
                                            <a class="dropdown-item" id="product_name_asc" style="cursor: pointer;"
                                                onclick="submitHiddenFormFromSortType(this.id)">Product Name: A-Z</a>
                                            <a class="dropdown-item" id="product_name_desc" style="cursor: pointer;"
                                                onclick="submitHiddenFormFromSortType(this.id)">Product Name: Z-A</a>
                                            <a class="dropdown-item" id="price_asc" style="cursor: pointer;"
                                                onclick="submitHiddenFormFromSortType(this.id)">Price Ascending</a>
                                            <a class="dropdown-item" id="price_desc" style="cursor: pointer;"
                                                onclick="submitHiddenFormFromSortType(this.id)">Price Descending</a>
                                            <a class="dropdown-item" id="newest" style="cursor: pointer;"
                                                onclick="submitHiddenFormFromSortType(this.id)">Newest</a>
                                            <a class="dropdown-item" id="oldest" style="cursor: pointer;"
                                                onclick="submitHiddenFormFromSortType(this.id)">Oldest</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row pb-3 px-xl-5">
                                <% products.forEach(function(product) { %>
                                    <div class="col-lg-3 col-md-6 col-sm-12 pb-1" style="padding-right: 0px;">
                                        <form action="/cart/add" method="POST">
                                            <div class="card product-item border-0 mb-4" style="padding: 0px;">
                                                <div
                                                    class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                                    <img class="img-fluid" src="<%= product.image %>" alt="" style="width: 100%;">
                                                </div>
                                                <div
                                                    class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                                    <h6 class="text-truncate" style="margin-bottom: 2px;"> 
                                                        <%= product.productName %>
                                                    </h6>
                                                    <div class="d-flex justify-content-center">
                                                        <h10 class="text-truncate priceAfterDiscount" style="margin-bottom: 2px; font-size: 15px;" data-product-id="<%= product.productId %>"></h10>
                                                    </div>
                                                    <div class="d-flex justify-content-center">
                                                        <h6 class="discountProduct" style="font-size: 15px;" data-product-id="<%= product.productId %>"> Giảm giá: 
                                                        </h6>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="productId" value="<%= product.productId %>">
                                                <input type="hidden" name="quantity" value="1">
                                                <div class="card-footer d-flex justify-content-between bg-light border">
                                                    <a href="/product/<%= product.productId %>"
                                                        class="btn btn-sm text-dark p-0"><i
                                                            class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                                            <a class="btn btn-sm text-dark p-0 showImportButton" data-product-id="<%= product.productId %>" data-productDetail-list="<%= JSON.stringify(product.ProductDetails) %>"><i
                                                                class="fas fa-shopping-cart text-primary mr-1"></i>Add to cart</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <% }); %>
                                        <div class="col-12 pb-1">
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination justify-content-center mb-3">
                                                    <li class="page-item <%= currentPage == 1 ? 'disabled' : '' %>" style="cursor: pointer;">
                                                        <a class="page-link" id="<%= currentPage > 1 ? 'page-' + (currentPage - 1) : 'page-' + currentPage %>"
                                                            onclick="submitHiddenFormFromSortType(this.id)" aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>
                                                
                                                    <% if (totalPages <= 3) { %>
                                                        <% for (let page = 1; page <= totalPages; page++) { %>
                                                            <li style="cursor: pointer;" class="page-item <%= page == currentPage ? 'active' : '' %>">
                                                                <a class="page-link" id="<%= 'page-' + page %>" onclick="submitHiddenFormFromSortType(this.id)">
                                                                    <%= page %>
                                                                </a>
                                                            </li>
                                                        <% } %>
                                                    <% } else { %>
                                                        <% if (currentPage <= 2) { %>
                                                            <% for (let page = 1; page <= 3; page++) { %>
                                                                <li style="cursor: pointer;" class="page-item <%= page == currentPage ? 'active' : '' %>">
                                                                    <a class="page-link" id="<%= 'page-' + page %>" onclick="submitHiddenFormFromSortType(this.id)">
                                                                        <%= page %>
                                                                    </a>
                                                                </li>
                                                            <% } %>
                                                            <li class="page-item disabled">
                                                                <span class="page-link">...</span>
                                                            </li>
                                                        <% } else if (currentPage >= totalPages - 1) { %>
                                                            <li class="page-item disabled">
                                                                <span class="page-link">...</span>
                                                            </li>
                                                            <% for (let page = totalPages - 2; page <= totalPages; page++) { %>
                                                                <li style="cursor: pointer;" class="page-item <%= page == currentPage ? 'active' : '' %>">
                                                                    <a class="page-link" id="<%= 'page-' + page %>" onclick="submitHiddenFormFromSortType(this.id)">
                                                                        <%= page %>
                                                                    </a>
                                                                </li>
                                                            <% } %>
                                                        <% } else { %>
                                                            <li class="page-item disabled">
                                                                <span class="page-link">...</span>
                                                            </li>
                                                            <% for (let page = currentPage - 1; page <= currentPage + 1; page++) { %>
                                                                <li style="cursor: pointer;" class="page-item <%= page == currentPage ? 'active' : '' %>">
                                                                    <a class="page-link" id="<%= 'page-' + page %>" onclick="submitHiddenFormFromSortType(this.id)">
                                                                        <%= page %>
                                                                    </a>
                                                                </li>
                                                            <% } %>
                                                            <li class="page-item disabled">
                                                                <span class="page-link">...</span>
                                                            </li>
                                                        <% } %>
                                                    <% } %>
                                                
                                                    <li class="page-item <%= currentPage >= totalPages ? 'disabled' : '' %>">
                                                        <a class="page-link"
                                                            id="<%= currentPage < totalPages ? 'page-' + (currentPage + 1) : 'page-' + currentPage %>"
                                                            onclick="submitHiddenFormFromSortType(this.id)" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </li>
                                                    <!-- Combobox -->
                                                    <select id="pageSelector" onchange="submitHiddenFormFromSortType(this.value)" style="margin-left: 2px;">
                                                        <% for (let page = 1; page <= totalPages; page++) { %>
                                                            <option value="<%= 'page-' + page %>" <%= page == currentPage ? 'selected' : '' %>><%= page %></option>
                                                        <% } %>
                                                    </select>
                                                </ul>
                                            </nav>
                                        </div>

                            </div>
                        </div>
                        <!-- Shop Product End -->
                        <!-- Shop Sidebar End -->
                        <% } %>
        </div>
    </div>
    <!-- Shop End -->



    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <h1 class="mb-4 display-5 font-weight-semi-bold"><span
                            class="text-primary font-weight-bold border border-white px-3 mr-1">E</span>Shopper</h1>
                </a>
                <p>Dolore erat dolor sit lorem vero amet. Sed sit lorem magna, ipsum no sit erat lorem et magna ipsum
                    dolore amet erat.</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our
                                Shop</a>
                            <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop
                                Detail</a>
                            <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping
                                Cart</a>
                            <a class="text-dark mb-2" href="checkout.html"><i
                                    class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact
                                Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our
                                Shop</a>
                            <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop
                                Detail</a>
                            <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping
                                Cart</a>
                            <a class="text-dark mb-2" href="checkout.html"><i
                                    class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact
                                Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control border-0 py-4" placeholder="Your Name"
                                    required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                                    required="required" />
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe
                                    Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <div class="overlay_flex_hidden" id="formEdit">
        <div class="container_flex_hidden">
            <div class="form_flex_hidden">
                <form action="/cart/add" method="post" >
                    <table>
                        <tr style="display: none">
                            <td><input type="hidden" value="" name="productId" id="productId"></td>
                        </tr>
                        <tr style="display: none">
                            <td><input type="hidden" value="1" name="quantity"></td>
                        </tr>
                        <tr>
                            <th style="background-color: #0f65c1;" colspan="3">Chọn loại sản phẩm</th>
                        </tr>
                                                <!-- Dynamic select for product details -->
                        <tr>
                            <td>Product Detail</td>
                            <td>
                                <select id="productDetailSelect" name="productDetailId">
                                <!-- Options will be added dynamically -->
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div class="bk_save_user_flex_hidden" style="margin-bottom: 5px;">
                        <button type="submit" class="button-save-user_flex_hidden" style="background-color: #0f65c1">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
    <script src="js/main.js"></script>
    <!-- script -->
    <script>
        const toggleButton = document.getElementById("toggle-categories");
        const navbarVertical = document.getElementById("navbar-vertical");

        let isNavVisible = true;

        toggleButton.addEventListener("click", function () {
            if (isNavVisible) {
                navbarVertical.style.display = "none";
                isNavVisible = false;
            } else {
                navbarVertical.style.display = "block";
                isNavVisible = true;
            }
        });
    </script>

    <script>
        function submitHiddenFormFromSortType(input) {
            var lowPrice = document.querySelector('input[name="lowPrice"]');
            var highPrice = document.querySelector('input[name="highPrice"]');
            var sortType = document.querySelector('input[name="sortType"]');
            var flavorId = document.querySelector('input[name="flavorId"]');
            var currentPage = document.querySelector('input[name="currentPage"]');
            var searchName = document.querySelector('input[name="searchName"]');
            // alert("ban dang chon page: " + input);
            if (input.includes(',')) {
                var priceRange = input.split(',')
                lowPrice.value = priceRange[0];
                highPrice.value = priceRange[1];
            } else if (input.includes("page")) {
                // var priceRange = checkbox.value.split(',')
                var pageNumberString = input.split('-');
                currentPage.value = pageNumberString[1];
                // alert("dang kiem tra page");
            } else if (input.length >= 5) {
                sortType.value = input;
            } else {
                flavorId.value = input;
            }
            // alert(lowPrice.value + " " + highPrice.value + " " + sortType.value + " " + flavorId.value + " " + currentPage.value);
            document.getElementById("hiddenForm").submit();
        }
    </script>

    <script>
        // Get a reference to the button
        const backToTopButton = document.querySelector('.back-to-top');

        // Add a scroll event listener
        window.addEventListener('scroll', () => {
            // If the user has scrolled down a certain amount (e.g., 300 pixels), show the button
            if (window.scrollY > 300) {
                backToTopButton.style.display = 'block';
            } else {
                backToTopButton.style.display = 'none';
            }
        });

        // Add a click event listener to scroll back to the top when the button is clicked
        backToTopButton.addEventListener('click', () => {
            // Smoothly scroll to the top of the page
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });

    </script>
    <!-- finish script -->

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->

    <script>
        $(document).ready(function () {
            $('.discountProduct').each(function () {
                const productId = $(this).data('product-id');
                const productDetails = $(`.showImportButton[data-product-id="${productId}"]`).data('productdetail-list');
                const productDetailArray = Array.isArray(productDetails) ? productDetails : JSON.parse(productDetails);
                const maxDiscount = Math.max(...productDetailArray.map(detail => detail.discount));
                const minDiscount = Math.min(...productDetailArray.map(detail => detail.discount));
                // Update the content of the current h6.discountProduct
                if (maxDiscount > 0) {
                    $(this).text(`Giảm giá: ${minDiscount}% - ${maxDiscount}%`);
                } else {
                    $(this).text(`Không giảm giá!`);
                    $(this).css('visibility', 'hidden');
                    
                }
            });
            $('.priceAfterDiscount').each(function () {
                const productId = $(this).data('product-id');
                const productDetails = $(`.showImportButton[data-product-id="${productId}"]`).data('productdetail-list');
                const productDetailArray = Array.isArray(productDetails) ? productDetails : JSON.parse(productDetails);
                const maxPrice = Math.max(...productDetailArray.map(detail => detail.price));
                const minPrice = Math.min(...productDetailArray.map(detail => detail.price));
                // Update the content of the current h6.discountProduct
                const maxDiscount = Math.max(...productDetailArray.map(detail => detail.discount));
                $(this).text(`${minPrice}đ - ${maxPrice}đ`);
                
            });
            $(document).on('click', '.showImportButton', function () {
                const formImport = document.getElementById('formEdit');
                const productId = $(this).data('product-id');
                document.getElementById('productId').value = productId;
                const productDetailList = $(this).data('productdetail-list');
                const productDetailArray = Array.isArray(productDetailList) ?
                    productDetailList :
                    JSON.parse(productDetailList);

                // // Calculate the maximum discount for the current product
                // const maxDiscount = Math.max(...productDetailArray.map(detail => detail.discount));
                // $(this).closest('.card-body').find('h6.discountProduct').text("Giảm giá lên đến " + maxDiscount + "%");
                // // Set the content of the h6 tag for the current product
                // // $('.discountProduct' + productId).text("Giảm giá lên đến " + maxDiscount + "%");

                // Clear existing options in the select
                $('#productDetailSelect').empty();

                // Add options to the select
                productDetailArray.forEach(function (productDetail) {
                    let price = productDetail.price-productDetail.price*productDetail.discount/100;
                    $('#productDetailSelect').append($('<option>', {
                    value: productDetail.productDetailId, // Replace with the actual property of productDetail
                    text: productDetail.weight + "gram với giá " + price + "đ;" + "( giảm giá:"+productDetail.discount  +"%);" + " tồn kho: " + productDetail.stock// Replace with the actual property of productDetail
                    }));
                });

                formImport.style.display= 'flex';
            });

            $(document).on('click', function (e) {
                const formImport = document.getElementById('formEdit');
                formImport.addEventListener('click', function (e) {
                    if (e.target === formImport) {
                        formImport.style.display = 'none'; // Ẩn overlay nếu bấm ra ngoài
                    }
                });
            })
        })
    </script>

</body>

</html>