<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">  -->

    <!-- Font Awesome có cái nút chỗ sổ xuống category-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/css/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/user-billing.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



</head>

<body>

    <div th:fragment="navigation">
        <!--    <iframe src="https://www.we45.com"/>-->
        <!-- Top bar start   -->
        <div class="container-fluid">
            <div class="row bg-secondary py-2 px-xl-5">
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-dark" href="">FAQs</a>
                        <span class="text-muted px-2">|</span>
                        <a class="text-dark" href="">Help</a>
                        <span class="text-muted px-2">|</span>
                        <a class="text-dark" href="">Support</a>
                    </div>
                </div>
                <div class="col-lg-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-dark pl-2" href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center py-3 px-xl-5">
                <div class="col-lg-3 d-none d-lg-block">
                    <a href="/" class="text-decoration-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span
                                class="text-primary font-weight-bold border px-3 mr-1">E</span>Four Leaves</h1>
                    </a>
                </div>
                <div class="col-lg-6 col-6 text-left">
                    <form th:action="@{/search}">
                        <div class="input-group">
                            <input name="name" type="text" class="form-control" placeholder="Search for products">
                            <div class="input-group-append">
                                <button class="input-group-text bg-transparent text-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 col-6 text-right">
                    <a href="" class="btn border">
                        <i class="fas fa-heart text-primary"></i>
                        <span class="badge">0</span>
                    </a>
                    <a href="/cart" class="btn border">
                        <i class="fas fa-shopping-cart text-primary"></i>
                        <!--                    <span class="badge">0</span>-->
                    </a>
                </div>
            </div>
        </div>
        <!--    Top bar end-->

    </div>



    <th:block th:fragment="content">
        <div class="text-center" th:if="${session.user == null}">
            <% if (!session.user) { %>
                <a href="/login" style="border: 1px solid black; padding: 5px; background-color: white;">
                    <%= message %>
                </a>
                <% } %>
        </div>
        <% if (typeof session !=='undefined' && session && session.user) { %>
            <div class="container-xl px-4 mt-4">
                <!-- Account page navigation-->
                <nav class="nav nav-borders">
                    <a class="nav-link ms-0" href="/user/profile">Profile</a>
                    <a class="nav-link active" href="/user/billing">Order</a>
                    <a class="nav-link" href="/user/security">Password</a>
                </nav>
                <hr class="mt-0 mb-4">
                <!-- Payment methods card-->
                <!-- Billing history card-->
                <div class="card mb-4">
                    <div class="card-header">Order History</div>
                    <div class="card-body p-0" th:if="${!#lists.isEmpty(orderList) or orderList != null}">
                        <!-- Billing history table-->
                        <div class="table-responsive table-billing-history">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th class="border-gray-200" scope="col">ID</th>
                                        <th class="border-gray-200" scope="col">Date</th>
                                        <th class="border-gray-200" scope="col">Price</th>
                                        <th class="border-gray-200" scope="col">Status</th>
                                        <th class="border-gray-200" scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (typeof orderList !=='undefined' && orderList) { %>
                                    <% orderList.forEach(function(item, index) { %>
                                        <tr>
                                            <td>
                                                <%= '#' + item.orderId %>
                                            </td>
                                            <td>
                                                <%= new Date(item.orderDate).toISOString().slice(0, 10) %>
                                            </td>
                                            <td>
                                                <% if (item.total !== null && item.total !== undefined) { %>
                                                    <%= item.total%>đ
                                                <% } else { %>
                                                    <!-- Handle the case where item.total is null or undefined -->
                                                    No data
                                                <% } %>
                                            </td>
                                            
                                            <td>
                                                <% if (item.status===1) { %>
                                                    <span class="badge bg-light text-dark">Pending verification</span>
                                                    <% } else if (item.status===2) { %>
                                                        <span class="badge bg-light text-dark">Verified</span>
                                                        <% } else if (item.status===3) { %>
                                                            <span class="badge bg-light text-dark">On its way</span>
                                                            <% } else if (item.status===4) { %>
                                                                <span
                                                                    class="badge bg-success text-dark">Delivered</span>
                                                                <% } else if (item.status===5) { %>
                                                                    <span class="badge bg-light text-dark">Processing
                                                                        return</span>
                                                                    <% } else if (item.status===6) { %>
                                                                        <span class="badge bg-success text-dark">Return
                                                                            processed</span>
                                                                        <% } %>
                                            </td>
                                            <td class="action-td">
                                                <a href="/invoice/<%= item.orderId %>"
                                                    class="btn btn-outline-primary btn-sm">Read Invoice</a>
                                                <% if (item.status> 2) { %>
                                                    <a href="#" data-toggle="modal"
                                                        id="<%= 'showDeleteBillingModal' + item.orderId %>"
                                                        class="delete btn btn-outline-danger btn-sm"
                                                        data-order-id="<%= item.orderId %>">Cancel Order</a>
                                                    <input type="hidden" name="id" id="id" value="<%= item.orderId %>">
                                                    <% } %>
                                            </td>
                                        </tr>
                                        <% }); %>
                                        <% }else { %>
                                            <tr>
                                                <td colspan="5" class="text-center"><p>No data</p></td>
                                            </tr>
                                            <% } %>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <% if (!orderList || orderList.length===0) { %>
                        <div class="text-center mt-5 mb-5">
                            <h2 class="font-bold">You don't have any orders yet!</h2>
                        </div>
                        <% } %>

                </div>
            </div>

            <div id="deleteBillingModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="post" action="/order/cancel">
                            <div class="modal-header">
                                <h4 class="modal-title">Delete Employee</h4>
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete these Records?</p>
                                <p class="text-warning"><small>This action cannot be undone.</small></p>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-danger" value="Delete">
                                <input type="hidden" name="id" id="deleteOrderId">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <% } %>
    </th:block>



    <div th:fragment="footer">
        <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
            <div class="row px-xl-5 pt-5">
                <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                    <a href="" class="text-decoration-none">
                        <h1 class="mb-4 display-5 font-weight-semi-bold"><span
                                class="text-primary font-weight-bold border border-white px-3 mr-1">E</span>Shopper</h1>
                    </a>
                    <p>Dolore erat dolor sit lorem vero amet. Sed sit lorem magna, ipsum no sit erat lorem et magna
                        ipsum dolore amet erat.</p>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Da Oai commune, Da Huoai
                        district, Lam Dong province, Viet Nam</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>voduc0100@gmail.com</p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+0869990187</p>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-dark mb-2" th:href="@{/}"><i class="fa fa-angle-right mr-2"></i>Home</a>
                                <a class="text-dark mb-2" th:href="@{/category/all}"><i
                                        class="fa fa-angle-right mr-2"></i>Our Shop</a>
                                <a class="text-dark mb-2" th:href="@{/product/9}"><i
                                        class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                                <a class="text-dark mb-2" th:href="@{/cart}"><i
                                        class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                                <a class="text-dark mb-2" th:href="@{/order}"><i
                                        class="fa fa-angle-right mr-2"></i>Checkout</a>
                                <a class="text-dark" th:href="@{/contact}"><i class="fa fa-angle-right mr-2"></i>Contact
                                    Us</a>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-dark mb-2" th:href="@{/}"><i class="fa fa-angle-right mr-2"></i>Home</a>
                                <a class="text-dark mb-2" th:href="@{/category/all}"><i
                                        class="fa fa-angle-right mr-2"></i>Our Shop</a>
                                <a class="text-dark mb-2" th:href="@{/product/9}"><i
                                        class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                                <a class="text-dark mb-2" th:href="@{/cart}"><i
                                        class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                                <a class="text-dark mb-2" th:href="@{/order}"><i
                                        class="fa fa-angle-right mr-2"></i>Checkout</a>
                                <a class="text-dark" th:href="@{/contact}"><i class="fa fa-angle-right mr-2"></i>Contact
                                    Us</a>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                            <form th:action="@{/register}" method="get">
                                <div class="form-group">
                                    <input type="text" class="form-control border-0 py-4" placeholder="Your Name"
                                        required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                                        required="required" />
                                </div>
                                <div>
                                    <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe
                                        Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <script>
        document.getElementById('showDeleteBillingModal').addEventListener('click', function () {
            const modal = document.getElementById('deleteBillingModal');
            modal.classList.add('show');
            modal.style.display = 'block';

            const orderId = this.getAttribute('data-order-id');
            const deleteOrderIdInput = document.getElementById('deleteOrderId');
            deleteOrderIdInput.value = orderId;
        });
    </script>

    <script>
        $(document).ready(function () {
            // Add a click event listener to all <a> tags with class "delete"
            $("a.delete").on("click", function () {
                // Get the ID of the clicked <a> tag
                const clickedId = $(this).attr("id");

                // Alert the ID
                alert("Clicked on the <a> tag with ID: " + clickedId);
            });
        });
    </script> -->

    <!-- if you want to use the jquery code, you have to import jquery library in the head of this file html -->
    <script>
        $(document).ready(function () {
            // Handle click events for all <a> tags with the "delete" class
            $("a.delete").on("click", function () {
                // Get the data-order-id attribute value from the clicked <a> tag
                var orderId = $(this).data("order-id");

                // Set the value of the input with id "deleteOrderId" to the orderId
                $("#deleteOrderId").val(orderId);

                // Add the "show" class to the modal with id "deleteBillingModal"
                $("#deleteBillingModal").addClass("show");

                // Set the style "display: block" for the modal
                $("#deleteBillingModal").css("display", "block");
            });
        });
    </script>


    <script>
        $(document).ready(function () {
            // Add an event listener for the close button and Cancel input
            $(".modal .close, .modal input[value='Cancel']").on("click", function () {
                $("#deleteBillingModal").removeClass("show");
                $("#deleteBillingModal").css("display", "none");
            });
        });
    </script>


</body>

</html>